import styles from './{{pascalCase name}}.module.css';
import type { {{pascalCase name}}Props } from './{{pascalCase name}}.types';

function {{pascalCase name}} ({ props }: {{ pascalCase name }}Props) {
    return (
    <div className={styles.container}>
      {{pascalCase name}}
    </div>
  );
}

export default {{pascalCase name}};